---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	.link-card{
		@apply bg-white rounded-lg shadow-lg overflow-hidden;
		@apply transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105;
	}
</style>