---
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <a href="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="157"
        height="32"
        viewBox="0 0 157 32"
        fill="none"
      >
        <path
          d="M15.0036 31.9577C5.89886 31.9577 0 25.7015 0 16.0211C0 6.42536 6.11259 0.0422716 15.2601 0.0422716C22.655 0.0422716 28.1692 4.31176 29.2378 10.9485H23.4672C22.3986 7.35535 19.2782 5.24174 15.1319 5.24174C9.36123 5.24174 5.72788 9.38441 5.72788 15.9789C5.72788 22.531 9.40398 26.7583 15.1319 26.7583C19.3636 26.7583 22.6123 24.5601 23.6382 21.1361H29.3233C28.1264 27.646 22.3986 31.9577 15.0036 31.9577Z"
          fill="#171717"></path>
        <path
          d="M30.9386 20.967C30.9386 14.4571 35.6834 9.97622 42.2234 9.97622C48.7634 9.97622 53.5082 14.4571 53.5082 20.967C53.5082 27.4769 48.7634 31.9577 42.2234 31.9577C35.6834 31.9577 30.9386 27.4769 30.9386 20.967ZM36.1535 20.967C36.1535 24.7715 38.6328 27.3501 42.2234 27.3501C45.814 27.3501 48.2932 24.7715 48.2932 20.967C48.2932 17.1625 45.814 14.5839 42.2234 14.5839C38.6328 14.5839 36.1535 17.1625 36.1535 20.967Z"
          fill="#171717"></path>
        <path
          d="M58.5705 31.9577C56.6897 31.9577 55.1081 30.4359 55.1081 28.6182C55.1081 26.7583 56.6897 25.2365 58.5705 25.2365C60.4513 25.2365 62.0329 26.7583 62.0329 28.6182C62.0329 30.4359 60.4513 31.9577 58.5705 31.9577Z"
          fill="#171717"></path>
        <path
          d="M71.4375 31.4505H66.2226V10.568H71.01L71.4375 13.0198C72.5061 11.2867 74.6434 9.93395 77.6783 9.93395C80.8842 9.93395 83.107 11.498 84.2184 13.9075C85.287 11.498 87.7662 9.93395 90.9721 9.93395C96.1016 9.93395 98.9228 12.9775 98.9228 17.7966V31.4505H93.7506V19.1493C93.7506 16.148 92.1263 14.5839 89.647 14.5839C87.125 14.5839 85.2015 16.1902 85.2015 19.6143V31.4505H79.9866V19.107C79.9866 16.1902 78.405 14.6262 75.9258 14.6262C73.4465 14.6262 71.4375 16.2325 71.4375 19.6143V31.4505Z"
          fill="#171717"></path>
        <path
          d="M105.367 6.38309C103.572 6.38309 102.161 4.98811 102.161 3.25495C102.161 1.5218 103.572 0.169089 105.367 0.169089C107.077 0.169089 108.488 1.5218 108.488 3.25495C108.488 4.98811 107.077 6.38309 105.367 6.38309ZM102.76 31.4505V10.568H107.975V31.4505H102.76Z"
          fill="#171717"></path>
        <path
          d="M117.295 31.4505H112.08V10.568H116.911L117.338 13.2734C118.663 11.1598 121.228 9.93395 124.092 9.93395C129.392 9.93395 132.128 13.1889 132.128 18.5997V31.4505H126.913V19.8256C126.913 16.317 125.16 14.6262 122.467 14.6262C119.262 14.6262 117.295 16.8243 117.295 20.2061V31.4505Z"
          fill="#171717"></path>
        <path
          d="M144.647 32C138.534 32 134.73 27.5614 134.73 21.0938C134.73 14.5839 138.577 9.93395 144.946 9.93395C147.895 9.93395 150.503 11.1598 151.828 13.2312V0H157V31.4505H152.213L151.871 28.1955C150.588 30.605 147.853 32 144.647 32ZM145.801 27.2655C149.434 27.2655 151.785 24.6869 151.785 20.9247C151.785 17.1625 149.434 14.5416 145.801 14.5416C142.167 14.5416 139.945 17.2048 139.945 20.9247C139.945 24.6446 142.167 27.2655 145.801 27.2655Z"
          fill="#171717"></path>
      </svg></a
    >
    <Navigation />
    <button class="contact-group">
      <svg
        id="talkButton"
        xmlns="http://www.w3.org/2000/svg"
        width="160"
        height="105"
        viewBox="0 0 160 105"
        fill="none"
      >
        <path
          d="M204.128 -16.8305L204.112 -16.8145L203.974 -16.9062C203.974 -16.9066 203.973 -16.907 203.973 -16.9074C202.145 -18.119 201.576 -19.841 201.392 -20.7386C201.201 -21.6701 201.084 -23.4832 202.312 -25.3021L202.313 -25.3042C205.692 -30.293 206.333 -36.5874 204.023 -42.1616C201.714 -47.7338 196.818 -51.7206 190.902 -52.8621C188.756 -53.2689 187.546 -54.6549 187.03 -55.4284C186.509 -56.2097 185.702 -57.8499 186.149 -60.0163C187.231 -65.3041 185.893 -70.7122 182.502 -74.8731C179.076 -79.0699 174.049 -81.4582 168.696 -81.4582C167.526 -81.4582 166.342 -81.344 165.188 -81.1162C165.187 -81.1161 165.186 -81.1159 165.186 -81.1158L165.06 -81.0906C164.586 -80.9837 164.14 -80.967 163.816 -80.967C160.926 -80.967 158.466 -83.0394 157.922 -85.8515L157.922 -85.8548C156.312 -94.2581 148.915 -100.361 140.348 -100.361C136.793 -100.361 133.347 -99.2961 130.36 -97.2816C129.108 -96.4326 127.848 -96.2414 126.99 -96.2414C124.964 -96.2414 123.077 -97.2374 121.956 -98.9544L121.945 -98.9709L121.934 -98.9875L121.872 -99.0881C118.549 -104.047 113.017 -107 107.04 -107C101.056 -107 95.4561 -104.01 92.1187 -98.9469L92.1165 -98.9437C91.0019 -97.2599 89.1083 -96.2414 87.0895 -96.2414C86.2794 -96.2414 85.0595 -96.4094 83.8242 -97.217L83.7703 -97.2523L83.7187 -97.291L83.6937 -97.3097C80.7222 -99.3177 77.293 -100.361 73.7472 -100.361C65.1805 -100.361 57.783 -94.2581 56.1734 -85.8548L56.1728 -85.8515C55.6292 -83.0394 53.1694 -80.967 50.2793 -80.967C49.8558 -80.967 49.4661 -81.0168 49.1265 -81.0734L48.9364 -81.1051L48.9069 -81.11L48.8776 -81.1158C47.7209 -81.3443 46.5513 -81.4582 45.3987 -81.4582C40.046 -81.4582 35.0195 -79.0699 31.5933 -74.8731L31.5916 -74.871C28.1895 -70.7147 26.8615 -65.307 27.9471 -59.9794L27.9486 -59.9723C28.3759 -57.8358 27.5635 -56.1996 27.0493 -55.4284C26.5393 -54.6633 25.3457 -53.2694 23.1759 -52.8618C17.26 -51.7197 12.3495 -47.7171 10.0569 -42.1639L10.0559 -42.1616C7.74623 -36.5874 8.38734 -30.293 11.7657 -25.3042L11.7698 -25.2982L11.7739 -25.2921L11.8055 -25.2447C11.8055 -25.2446 11.8055 -25.2446 11.8055 -25.2446C12.9967 -23.458 12.8776 -21.6486 12.6859 -20.7336C12.5101 -19.8805 11.9586 -18.1397 10.2263 -16.9766L10.2208 -16.9729L10.0782 -16.8778L10.0695 -16.872L10.0607 -16.8663C4.98901 -13.5614 2 -7.99809 2 -1.98416C2 4.02894 4.98893 9.59727 10.0536 12.9354L10.0573 12.9379C11.8868 14.1495 12.4552 15.8724 12.6394 16.7703C12.8304 17.7015 12.948 19.5136 11.7209 21.3318C11.7205 21.3325 11.7201 21.3331 11.7196 21.3338L11.2346 22.0551L11.2075 22.1273L11.1179 22.2787C8.26918 27.0927 7.84103 32.9591 10.0077 38.1758L10.0084 38.1774C12.3172 43.7496 17.2142 47.7365 23.13 48.8779C25.2761 49.2847 26.4861 50.6708 27.0018 51.4442C27.516 52.2154 28.3284 53.8517 27.901 55.9882L27.87 56.1435C27.8699 56.144 27.8698 56.1445 27.8697 56.1449C26.8294 61.3907 28.1683 66.7565 31.545 70.888L31.5457 70.8889C34.9719 75.0857 39.9985 77.474 45.3512 77.474C46.5451 77.474 47.7511 77.3488 48.9873 77.1064C49.4612 76.9994 49.9078 76.9828 50.2318 76.9828C53.1219 76.9828 55.5817 79.0553 56.1252 81.8673L56.1259 81.8706C57.7354 90.2739 65.1329 96.3769 73.6997 96.3769C77.2539 96.3769 80.6988 95.3126 83.6851 93.2991C84.9378 92.4488 86.1986 92.2572 87.0578 92.2572C89.0963 92.2572 90.9722 93.2631 92.1164 94.991L92.1166 94.9912C95.4382 100.009 101.008 103 107.024 103C113.047 103 118.611 100.003 121.849 95.0898L121.855 95.0808L121.947 94.9437C121.948 94.9419 121.949 94.9402 121.95 94.9384C123.063 93.2614 124.937 92.2414 126.974 92.2414C127.822 92.2414 129.081 92.4348 130.332 93.2841L130.665 93.5101L130.7 93.5277L130.786 93.5819C133.669 95.4089 136.943 96.361 140.316 96.361C148.883 96.361 156.28 90.2581 157.89 81.8548L157.891 81.8514C158.434 79.0394 160.894 76.967 163.784 76.967C164.208 76.967 164.597 77.0168 164.937 77.0734L164.969 77.0787L165.001 77.0851L165.154 77.1158C166.309 77.3438 167.494 77.4582 168.665 77.4582C174.017 77.4582 179.044 75.0699 182.47 70.8731L182.471 70.8722C185.847 66.7411 187.186 61.376 186.147 56.1308L204.128 -16.8305ZM204.128 -16.8305C209.019 -13.589 212 -8.03856 212 -2.0317C212 3.98388 209.009 9.55281 203.991 12.8742L203.985 12.8779L203.854 12.9656C203.852 12.967 203.85 12.9683 203.847 12.9697C202.093 14.1256 201.547 15.9051 201.376 16.7386L201.371 16.7628L201.367 16.7871C201.214 17.6412 201.054 19.4829 202.3 21.3077C205.676 26.296 206.317 32.5887 204.007 38.1616L204.007 38.1639C201.714 43.7175 196.803 47.7203 190.886 48.862C188.717 49.2699 187.524 50.6635 187.014 51.4283L188.678 52.5378L187.014 51.4284C186.5 52.1996 185.688 53.8358 186.115 55.9723L186.146 56.1277L204.128 -16.8305Z"
          fill="#DF6E47"
          stroke="white"
          stroke-width="4"></path>
        <p>Let's talk</p>
      </svg>
    </button>
  </nav>
</header>

<style>
  nav {
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    padding-left: 60px;
  }
  .contact-group {
    width: 160px;
    height: 105px;
    flex-shrink: 0;
    position: relative;
  }

  button svg {
    fill: var(--orange-200, #df6e47);
    stroke-width: 4px;
    stroke: #fff;
    flex-shrink: 0;
  }

  button p {
    color: var(--neutral-dark-100, #171717);
    text-align: center;
    font-feature-settings:
      "ss02" on,
      "liga" off;
    position: absolute;
    top: 20%;
    right: 10%;
    text-align: center;
    transform: translateY(50%);
    /* Button/22-30 */
    font-family: Anton;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
    letter-spacing: 0.44px;
    text-transform: uppercase;
  }

  button:hover svg {
    fill: var(--neutral-dark-100, #171717);
    stroke-width: 4px;
    stroke: #fff;
  }

  button:hover p {
    color: var(--neutral-dark-100, #ffffff);
  }
</style>
